    /* Base rules */
:root{
    --color-body:#918ca4;
    --color-heading:#1b0760;
    --color-primary:#4193ff;
    --color-secondary:#00d9ff;
    --color-accent:#ff3400;    
}
*,*::after,*::before{
    box-sizing: border-box;
}
/* Typography*/
html{
    font-size: 62.5%;
}
body{
    font-family: inter, Arial, Helvetica, sans-serif;
    color:var(--color-body);
    font-size:2.4rem;
    line-height: 1.5;
}
h1,h2,h3{
    color: var(--color-heading);
    margin-bottom: 1rem;
}
h1{
    font-size: 7rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}
p{
    margin-top: 0;
}
@media screen and (min-width:1024px) {
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 2.4rem;
    }

}
        /*Links*/
a{
    text-decoration: none;
}
.link-arrow{
    text-transform: uppercase;
    color: var(--color-accent);
    font-size: 2rem;
    font-weight: bold;
}
.link-arrow::after{
    content: '-->';
    margin-left: 5px;
    transition: margin 0.2s;
}
.link-arrow:hover::after{
    margin-left: 10px;
}
@media screen and (min-width:1024px) {
 .link-arrow{
    font-size: 1.5rem;
 }    
}

    /*Badges*/
.badge{
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 1.2rem;
    white-space: nowrap;
}
.badge--primary{
    background-color: var(--color-primary);
    color: white;
}
.badge--secondary{
    background-color:#02cdf1;
    color: white;
}
.badge--small{
    font-size: 1.4rem;
}
@media screen and (min-width:1024px) {
    .badge{
        font-size: 1.5rem;
    }
.badge--small{
    font-size: 1.2rem;
} 
}
        /*List*/
.list{
    color: var(--color-heading);
    list-style-type: none;
    padding: 0;

}
.list--inline .list__item{
    display: inline-block;
    margin-right: 2rem;
}
.list--tick{
    list-style-image: url(../images/tick.svg);
    padding-left: 3rem;

}
.list--tick .list__item{
    margin-bottom: 1rem;
    padding-left: 0.5rem;

}
@media screen and (min-width:1024px) {
.list--tick .list__item{
    padding-left: 0;
}    
}

/*Icons*/
.icon{
    height: 40px;
    width: 40px;
}
.icon--primary{
    fill: var(--color-primary);
}
.icon-container{
    align-items: center;
    background-color:#f3f9FA;
    border-radius: 100%;
    display: inline-flex;
    height: 75px;
    justify-content: center;
    width: 75px;
}

/*Buttons*/
.btn{
    border-radius: 5rem;
    border: 0;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1.7rem 3rem;
    text-align: center;
    text-transform: uppercase;
    white-space:nowrap;
}
.btn--primary{
    background-color: var(--color-primary);
    color: white;
}
.btn--primary:hover{
    background-color:#58a0ff; ;
}
.btn--secondary{
    background-color: var(--color-secondary);
    color: white;
}
.btn--secondary:hover{
    background-color:#5fe0f7;
}
.btn--accent{
    background-color: var(--color-accent);
    color: white;
}
.btn--accent:hover{
    background-color:#ff5e36;
}
.btn--outline{
    background-color: white;
    color: var(--color-heading);
    border: 2px solid var(--color-heading);
}
.btn--outline:hover{
    background-color:var(--color-heading);
    color: white;
}
.btn--block{
    width:95% ;
    display: inline-block;
}
@media screen and (min-width:1024px) {
    .btn{
        font-size: 1.5rem;
    }
    
}
/*Input*/
.input{
    border-radius: 4rem;
    border: 1px solid #ccc;
    color: var(--color-heading);
    font-size: 2rem;
    outline: 0;
    padding: 1.5rem 3.5rem;
}
::placeholder{
color: #cdcbd7;
}
.input-group{
    border: 1px solid #ccc;
    border-radius: 4rem;
    display: flex;
    margin-top: 1rem;
}
.input-group .input{
    border: 0;
    flex-grow: 1;
}
.input-group .btn{
    margin: 3px;
}
.input-group .icon{
    fill: white;
    height:2.5rem ;
    margin-right: 1rem;
    vertical-align: middle;
    width:2.5rem ;
}
@media screen and (min-width:1024px) {
    .input{
        font-size: 1.5rem;
    }
}
/*Cards*/
/* .card-container{
    width: 30%;
} */
.card{
    box-shadow: 0 0 20px 10px #f3f3f3;;
    border-radius: 0.7rem;
}
.card__body,
.card__header{
    padding: 2rem 3rem;
}
.card--primary .card__header{
    background-color: var(--color-primary);
    color: white;
}
.card--secondary .card__header{
    background-color: var(--color-secondary);
    color: white;
}
/* Plans */
.plan__name{
    color: white;
    margin: 0;
    font-weight: 600;
    font-size: 2.3rem;
}
.plan__price{
    font-size: 6rem;
    font-weight: 100;
}
.plan__billing-cycle{
    font-size: 2rem;
    opacity: 0.8;
    margin-right: 1rem;
}
.plan__description{
    display: block;
    opacity: 0.9;
    font-size: 1.9rem;
    letter-spacing: 1px;
}
.card__body .btn{
    margin-top:3rem;
}
.plan--popular .card__header{
    position: relative;
}
.plan--popular .card__header::before{
    content: url(../images/popular.svg);
    display: inline-block;
    width: 40px;
    position: absolute;
    top: -6px;
    right: 5%;
}
@media screen and (min-width:1024px) {
    .plan__name{
        font-size: 1.7rem;
    }
    .plan__price{
        font-size: 5rem;
    }
    .plan__billing-cycle{
        font-size: 1.7rem;
    }
    .plan__description{
        font-size: 1.7rem;
    }
    .card__body .btn{
        margin-top:4rem;
    }   
    
}
/*Media object*/
.media{
    margin: 2rem;
}
.media__image{
  margin: 0;
}
.media__title{
    margin-top: 0rem;
}