<section class="callout callout--primary">
  <div class="grid grid--col-2">
    <div class="callout--content">
      <h3 class="callout__heading">Ready To Get Strated?</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam, totam?
        Perspiciatis iste quos labore deserunt quaerat sunt culpa aliquam
        debitis.
      </p>
    </div>
    <div class="callout__btn-container">
      <a class="btn btn--secondary btn--streched">get started</a>
    </div>
  </div>
</section>
