<section class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h3 class="collapsible__item">Item</h3>
    <span class="icon icon--white collapsible__chevron"
      ><img src="images\chevron.svg" alt=""
    /></span>
  </header>
  <p class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore corporis ea
    ut voluptas dignissimos numquam dolores animi deleniti delectus tempore.
  </p>
</section>

<script src="js/main.js"></script>
