<section class="block block--grey footer--block">
  <div class="container grid grid--col-2">
    <div class="footer__list-container">
      <ul class="list footer__inline-list">
        <section class="collapsible collapsible--expanded footer__list-item">
          <header class="collapsible__header">
            <h3 class="collapsible__item footer__list-heading">PRODUCTS</h3>
            <span class="icon icon--white collapsible__chevron"
              ><img src="images\chevron.svg" alt=""
            /></span>
          </header>
          <ul class="list collapsible__content">
            <li class="list__item">WordPress Hosting</li>
            <li class="list__item">Free Automated WordPress</li>
            <li class="list__item">Migrations</li>
            <li class="list__item">Domain Names</li>
            <li class="list__item">Monthly Web Hosting</li>
          </ul>
        </section>
        <section class="collapsible footer__list-item">
          <header class="collapsible__header">
            <h3 class="collapsible__item footer__list-heading">COMPANY</h3>
            <span class="icon icon--white collapsible__chevron"
              ><img src="images\chevron.svg" alt=""
            /></span>
          </header>
          <ul class="list collapsible__content">
            <li class="list__item">About</li>
            <li class="list__item">Affiliates</li>
            <li class="list__item">Blog</li>
            <li class="list__item">Careers</li>
            <li class="list__item">Community</li>
            <li class="list__item">News</li>
            <li class="list__item">Green Hosting</li>
          </ul>
        </section>
        <section class="collapsible footer__list-item">
          <header class="collapsible__header">
            <h3 class="collapsible__item footer__list-heading">SUPPORT</h3>
            <span class="icon icon--white collapsible__chevron"
              ><img src="images\chevron.svg" alt=""
            /></span>
          </header>
          <ul class="list collapsible__content">
            <li class="list__item">Contact</li>
            <li class="list__item">Knowledge Base</li>
            <li class="list__item">Forums</li>
            <li class="list__item">System Status</li>
            <li class="list__item">Web Hosting</li>
            <li class="list__item">DreamCompute</li>
          </ul>
        </section>
        <section class="collapsible footer__list-item">
          <header class="collapsible__header">
            <h3 class="collapsible__item footer__list-heading">DOMAINS</h3>
            <span class="icon icon--white collapsible__chevron"
              ><img src="images\chevron.svg" alt=""
            /></span>
          </header>
          <ul class="list collapsible__content">
            <li class="list__item">Domain Checker</li>
            <li class="list__item">Domain Transfer</li>
            <li class="list__item">Free Domain</li>
            <li class="list__item">XYZ Domain</li>
            <li class="list__item">Cheap SSL Certificate</li>
          </ul>
        </section>
      </ul>
    </div>
    <div class="footer__logo-container">
      <img class="footer__image" src="images\logo.png" alt="" />
      <p class="footer__text">Copyright © 2020 mosh</p>
    </div>
  </div>
</section>
